.demo-content
  table
    margin: 0;
  th, td
    border: none;
  ul, ol
    padding-left: 0;
.drawer-op
  box-sizing: border-box;

.el-popper
  table
    border-collapse: collapse;
    display: table;
    margin: unset;

.el-select-dropdown
  .el-scrollbar__wrap
    overflow: hidden;
    margin-bottom: 0!important;
    margin-right: 0!important;

::-webkit-scrollbar {
}

